Hello, <%= current_user.username %>

<h1>Here is your box and its contents:</h1>

<%= @boxes.name %>
<br>
<% @boxes.items.each_with_index do |item, i| %>
  <%= (i + 1).to_s + ": " %>
  <%= item.item_name %><br>
<% end %>
<br>
Delete box <form action="/boxes/<%= @boxes.id %>/delete" method="POST">
<input id="hidden" type="hidden" name="_method" value="Delete Tweet">
<input type="submit" value="delete">
</form>
<p>Edit your box:</p>
<form action="/boxes/<%= @boxes.id %>" method="POST">
New Box Name: <input type="text" name="name" value="name">
<input type="submit" value="submit">
</form>
<br>
<a href="/boxes">Go back to Boxes list</a><br>
<a href="/items">Go back to Items list</a><br>
<a href="/logout">Log out</a>